* {
  transition: 300ms;
}

.projects,
.profile,
.certifications {
  padding: var(--padding);
}

.profile,
.info,
.info__skills,
.info__bio,
.info__contact,
.projects,
.projects__items,
.projects__more,
.certifications {
  display: grid;
}

.projects {
  gap: 20px;
  background: var(--body);
  padding-top: 40px;
  padding-bottom: 40px;
}
.projects h2 {
  margin: 0;
  margin-bottom: 20px;
}
.projects__items {
  gap: 20px;
  grid-template-columns: repeat(3, max(385px));
  justify-content: space-between;
}
.projects__more {
  grid-auto-flow: column;
  justify-content: end;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.projects__more__arrow {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  box-shadow: inset 0 0 0 2px;
  width: 24px;
  height: 6px;
}
.projects__more__arrow::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 6px;
  height: 6px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  right: 0;
  bottom: -2px;
}

.profile {
  grid-auto-flow: column;
  gap: 60px;
  background-color: var(--primary);
  background-image: radial-gradient(
      at 1% 0%,
      rgba(142, 119, 234) 0px,
      transparent 55%
    ),
    radial-gradient(at 40% 90%, rgba(245, 66, 200, 1) 0px, transparent 55%),
    radial-gradient(at 80% 13%, rgba(232, 157, 110) 0px, transparent 80%),
    radial-gradient(at 88% 11%, rgba(239, 121, 90, 1) 0px, transparent 60%);
  user-select: none;
}
.profile__photo {
  width: 354px;
  height: 354px;
  border-radius: 50%;
  box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: url("../../../assets/img/profile.jpg") no-repeat right top;
  background-size: 354px;
  filter: brightness(90%);
}
.profile__photo:hover {
  filter: brightness(100%);
}

.info {
  gap: 20px;
  align-content: start;
}
.info__skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
}
.info__bio {
  font-size: 14px;
  line-height: 22px;
}
.info__contact {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 20px;
}
.info__contact img {
  opacity: 0.5;
}
.info__contact img:hover {
  opacity: 1;
}

.certifications {
  background: var(--body);
}

@media screen and (max-width: 720px) {
  .profile,
  .projects__items {
    grid-auto-flow: row;
    grid-template-columns: unset;
  }
  .profile {
    gap: 20px;
  }

  .profile__photo {
    width: 200px;
    height: 200px;
    background-size: 200px;
    justify-self: center;
  }
}
