.footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  background-color: gainsboro;
}

.rainbow {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 10px;
  width: 100%;
}
