.dialog {
  position: fixed;
  inset-block-start: 0px;
  inset-block-end: 0px;
  width: 100%;
  max-width: 70vh;
  max-height: 80vh;
  user-select: text;
  visibility: visible;
  overflow: auto;
  border: 1px solid var(--shadow);
  border-radius: 8px;
  padding: 24px;
  box-shadow: 2px 4px 8px var(--shadow);
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
}

.dialog[open] {
  display: flex;
  transition: 300ms ease-in-out;
}
.dialog::backdrop {
  opacity: 0.99;
  backdrop-filter: blur(100px);
}
.dialog:-internal-dialog-in-top-layer::backdrop {
  position: fixed;
  inset: 0px;
}

.dialog__close {
  align-self: end;
  cursor: pointer;
}

.dialog__content {
  overflow-x: overlay;
}

/* Certificate CSS */
.dialog__content__certificate {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.dialog__content__certificate__thumb {
  height: fit-content;
  max-width: 300px;
}

.dialog__content__certificate__info,
.dialog__content__certificate__info__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dialog__content__certificate__info__header__title {
  margin: 0;
  font-size: 2rem;
  line-height: normal;
}

.dialog__content__certificate__info__description {
  margin: 0;
}

.dialog__content__certificate__info__link {
  margin-top: 16px;
}

@media (width < 769px) {
  .dialog {
    width: calc(100% - 2em - 16px);
    height: calc(100% - 2em - 16px);
    max-width: unset;
    max-height: unset;
    padding: 16px;
  }

  .dialog__content__certificate {
    flex-wrap: wrap-reverse;
  }

  .dialog__content__certificate__thumb {
    display: none;
  }
}
