@import "../../../dimensions.scss";

.header {
  background-color: var(--primary);
}

.navbar,
.navbar__links,
.navbar__actions {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  align-items: center;
}

.navbar__logo {
  max-width: 50px;
  padding: 20px 0;
}

.navbar__links {
  gap: 40px;
  padding: 0;
  list-style: none;
  font-weight: 700;
  margin: 20px 0;
  justify-content: center;
}

.navbar__links__link a {
  text-decoration: none;
  text-transform: capitalize;
}

.navbar__actions {
  justify-content: end;
  gap: 0;
}

.navbar__logo,
.navbar__links__link,
.navbar__actions__action,
.navbar__burguer-btn {
  cursor: pointer;
}

.navbar__burguer-btn {
  display: none;
}

.hero {
  display: grid;
  justify-content: start;
  padding: 48px 0 40px 0;
}
.hero h1,
.hero p {
  margin: 0;
}
.hero__skills {
  font-size: 48px;
  line-height: 58px;
}
.hero__skills--completed {
  background: black;
  color: white;
}
.hero__skills--completed {
  background: black;
  color: white;
}
.hero__skills--completed .hero__skills__bar {
  border-color: white;
}

.page-title {
  padding: 40px 0 1px 0;
}

.hero__skills__bar {
  border-right: 0.25em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

@media (max-width: #{$breakpoint-md}) {
  .navbar__logo {
    max-width: 30px;
  }

  .navbar__links {
    display: none;
  }

  .navbar__burguer-btn {
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--primary-darker);
    justify-self: end;
    gap: 4px;
  }

  .navbar__burguer-btn:hover {
    background: var(--primary-darker);
  }

  .navbar__burguer-btn span {
    border-top: 2px solid var(--body);
    width: 20px;
  }

  .navbar__actions {
    display: none;
  }

  .hero__skills {
    font-size: 24px;
  }
}
