:root {
  --primary: rgb(142, 119, 234);
  --primary-darker: rgb(112, 93, 186);

  --color-pink: rgba(245, 66, 200, 1);
  --color-yellow: rgba(232, 157, 110);
  --color-orange: rgba(239, 121, 90, 1);

  --body: rgb(238, 238, 238);
  --color: rgb(37, 37, 37);
  --shadow: rgba(0, 0, 0, 0.25);

  --padding: 20px 12vw;
}

:root .dark {
  --body: rgb(80, 80, 80);
  --color: rgb(238, 238, 238);
  --shadow: rgba(0, 0, 0, 0.25);
}
