:root {
  --primary: rgb(142, 119, 234);

  --body: rgb(238, 238, 238);
  --color: rgb(37, 37, 37);
  --shadow: rgba(0, 0, 0, 0.25);

  --padding: 20px 12vw;
}

:root .dark {
  --body: rgb(80, 80, 80);
  --color: rgb(238, 238, 238);
  --shadow: rgba(0, 0, 0, 0.25);
}
