@import "palettes.scss", "dimensions.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  transition: 300ms;
  color: var(--color);
  font-family: "Inter", sans-serif;
}

body {
  display: grid;
  margin: 0;
  background: var(--body);
  min-height: 100vh;
}

header,
footer {
  padding: 0 12vw;
}

h1 {
  font-size: 48px;
  line-height: 58px;
}

:focus-visible {
  outline: none;
}

/* Scrolbar */
::-webkit-scrollbar-track {
  background-color: var(--body);
}
::-webkit-scrollbar {
  width: 8px;
  background-color: var(--body);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 8px;
}

@media (max-width: #{$breakpoint-md}) {
  header,
  footer {
    padding: 0 16px;
  }
}
