.certificates {
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  background: var(--body);
}

.certificates__items {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.certificates__items__item {
  cursor: pointer;
  padding: 16px;
  background: var(--body);
  box-shadow: 0px 4px 8px 0px var(--shadow);
  border: 2px solid;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-width: 200px;
}
.certificates__items__item--certifications {
  border-color: #fff7d0;
}
.certificates__items__item--training {
  border-color: #00b9ff;
}
.certificates__items__item--courses {
  border-color: #dbc7e5;
}

.certificates__items__item__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.certificates__items__item__info__partner {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: normal;
  color: var(--color-secondary);
}
.certificates__items__item__info__name {
  margin: 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.certificates__items__item__img {
  align-self: center;
  max-width: 100%;
  border-radius: 8px;
}
