.certificates {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding: var(--padding);
  background: var(--body);
}

.certificates__categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.certificates__categories__btn {
  cursor: pointer;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid var(--color-secondary);
  background-color: var(--white);
}
.certificates__categories__btn:hover,
.certificates__categories__btn--active {
  color: var(--white);
  background-color: var(--color-secondary);
}

.btn-certifications.certificates__categories__btn--active,
.btn-certifications.certificates__categories__btn:hover {
  background-color: var(--color-certifications);
}
.btn-courses.certificates__categories__btn--active,
.btn-courses.certificates__categories__btn:hover {
  background-color: var(--color-courses);
}
.btn-training.certificates__categories__btn--active,
.btn-training.certificates__categories__btn:hover {
  background-color: var(--color-training);
}

.certificates__items {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.certificates__items__item {
  cursor: pointer;
  padding: 16px;
  background: var(--body);
  box-shadow: 0px 4px 8px 0px var(--shadow);
  border: 2px solid;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  max-width: 200px;
}

.btn-certifications,
.certificates__items__item--certifications {
  border-color: var(--color-certifications);
}
.btn-courses,
.certificates__items__item--courses {
  border-color: var(--color-courses);
}
.btn-training,
.certificates__items__item--training {
  border-color: var(--color-training);
}

.certificates__items__item__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.certificates__items__item__info__partner {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: normal;
  color: var(--color-secondary);
}
.certificates__items__item__info__name {
  margin: 0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.certificates__items__item__img {
  align-self: center;
  max-width: 100%;
  border-radius: 8px;
}
